%header.l-header.header-wrapper.header-dark
  .container
    .row
      .col-sm-12.col-md-3
        = link_to 'JuniorJobs', root_path, class: 'role'
      .col-sm-12.col-md-9
        %nav.navbar-right
          %ul.menu.menu-light
            %li.toggle-menu.display-none
              %i.fa.fa-bars
            %li
              = link_to about_path, class: ['c-composite-link'] do
                %i.fa.fa-question-circle.fa-large
                = t('views.headers.about')
            %li
              = link_to terms_path, class: ['c-composite-link'] do
                %i.fa.fa-check
                = t('views.headers.terms')
            %li
              = link_to contact_us_path, class: ['c-composite-link'] do
                %i.fa.fa-envelope
                = t('views.headers.contact_us')
            %li.last
              - unless logged_in?
                = link_to login_path, class: ['last', 'c-composite-link'] do
                  %i.fa.fa-sign-in
                  = t('views.headers.login')
              - else
                = link_to 'javascript:;', class: ['last', 'c-composite-link'] do
                  %i.fa.fa-user
                  = t('views.headers.settings')
                %ul.submenu
                  %li
                    = link_to edit_user_path(current_user) do
                      = t('views.headers.edit_user')
                  %li
                    = link_to logout_path, method: :post do
                      %i.fa.fa-sign-in
                      = t('views.headers.logout')
