= render_shared 'meta_tags'
= render 'shared/job_page_header', header: t('views.headers.contact_us')

%section.section#contact_us
  %p= t('views.contacts.text')
  = t('views.contacts.email')
  = mail_to Settings.contacts_email, Settings.contacts_email
  %p
  = t('views.contacts.twitter')
  = link_to "#{Settings.twitter_name}#{I18n.locale}", "#{Settings.twitter_name}#{I18n.locale}", target: :blank
  %p
  = t('views.contacts.telegram')
  = link_to "#{Settings.telegram}_#{I18n.locale}", "#{Settings.telegram}_#{I18n.locale}", target: :blank
