= render 'shared/page_header', header: t('views.headers.contact_us')

%section.section
  %p= t('views.contacts.text')
  %p= t('views.contacts.email')
  %p= t('views.contacts.twitter')
  %p= t('views.contacts.telegram')
