= render 'shared/page_header', header: t('views.headers.terms')

%section.section
  %p= t('views.terms.free')
  %p= t('views.terms.not_allowed')
  %p= t('views.terms.author')
  %p= t('views.terms.moderation')
