.row.blog-item
  .col-sm-4.col-md-4.blog-caption
    %h3.post-title#job-title
      = link_to job.title, job_path(job), style: 'color: #428bca;'
    .sub-post-title.m0
      #company-name
        - if job.company_page.present?
          = link_to job.company_name, job.company_page, style: 'color: #428bca;'
        - else
          = job.company_name
  .col-sm-6.col-md-6.blog-caption
    - job.tags.each do |tag|
      .btn.btn-c.mt10.mr10= tag
  .col-sm-2.col-md-2.blog-caption
    .time= job.created_at.strftime('%d.%m.%Y')
