= simple_form_for @user, html: { class: 'b-sign-in form' } do |f|
  .form-group
    = f.input :email, placeholder: t('auth.users.form.email'), required: true,
      label: false, autofocus: true, class: 'form-control'

  .form-group
    = f.input :password, placeholder: t('auth.users.form.password'), required: true,
      label: false, autofocus: true, class: 'form-control'

  .form-group
    = f.input :password_confirmation, placeholder: t('auth.users.form.password_confirmation'),
      label: false, required: true, autofocus: true, class: 'form-control'

  .form-check
    - collection = @roles.map { |type| [t("activerecord.attributes.user.roles.#{type}"), type] }
    = f.input :roles, collection: collection, placeholder: t('auth.users.form.roles_label'),
      label: false, include_blank: false, input_html: { class: 'form-control' }

  = f.submit t('auth.users.form.submit'), class: 'btn btn-default'
