= simple_form_for job, html: { class: 'container form mt40 mb40' } do |f|
  = f.input :country, as: :hidden, label: false, input_html: { class: 'form-control', value: current_country }

  .form-group.well
    %h3
      = t('web.jobs.form.desc')
    = f.input :title, label: false, placeholder: t('activerecord.attributes.job.title')
    - collection = Job.employments.keys.map { |type| [t("activerecord.attributes.job.employments.#{type}"), type] }
    = f.input :employment, collection: collection, label: false, include_blank: false, input_html: { class: 'form-control' }
    = f.input :description, label: false, placeholder: t('activerecord.attributes.job.description'),
      input_html: { class: 'form-control mt20', rows: 10 }
    = f.input :requirements, label: false, placeholder: t('activerecord.attributes.job.requirements'),
      input_html: { class: 'form-control', rows: 20 }

  .form-group.well
    %h3
      = t('web.jobs.form.location')
    .row
      .col-md-8
        = f.input :city, label: false, placeholder: t('activerecord.attributes.job.city'),
          input_html: { class: 'form-control' }
      .col-md-4
        = f.input :remote, as: :boolean, label: t('activerecord.attributes.job.remote')

  .form-group.well
    %h3= t('web.jobs.form.company')
    = f.input :company_name, label: false, placeholder: t('activerecord.attributes.job.company_name')
    = f.input :company_page, label: false, placeholder: t('activerecord.attributes.job.company_page')
    = f.input :company_contact, label: false, placeholder: t('activerecord.attributes.job.company_contact')
    = f.input :company_phone, label: false, placeholder: t('activerecord.attributes.job.company_phone')
    = f.input :company_email, label: false, placeholder: t('activerecord.attributes.job.company_email')

  .form-group.well
    %h3
      = t('web.jobs.form.motivation')
    .row
      .col-md-3
        - collection = Job.currencies.keys.map { |type| [t("activerecord.attributes.job.currencies.#{type}"), type] }
        = f.input :currency, collection: collection, label: false, include_blank: false, input_html: { class: 'form-control' }
      .col-md-3
        = f.input :salary_from, as: :string, label: false, placeholder: t('activerecord.attributes.job.salary_from'),
          input_html: { class: 'form-control' }
      .col-md-3
        = f.input :salary_to, as: :string, label: false, placeholder: t('activerecord.attributes.job.salary_to'),
          input_html: { class: 'form-control' }
      .col-md-3
        = f.input :salary_by_agreement, as: :boolean, label: t('activerecord.attributes.job.salary_by_agreement'),
          input_html: { class: 'form-check-input' }, label_html: { class: 'form-check-label' }
  .form-group.well
    %h3
      = t('web.jobs.form.time')
    .form-group
      = f.input :expired_at, collection: f.object.decorate.expired_at_dates, label: false, include_blank: false, input_html: { class: 'form-control' }
  .form-group.well
    %p.m0
      = t('web.jobs.form.public')
      = link_to t('web.jobs.form.conditions'), terms_path, class: ''
  .form-group.well
    %h3 #tags
    = f.select :tag_list, {}, multiple: true, style: 'width: 100% display: none', class: 'form_control'
    %span= t('forms.comma_separator')

  = f.button :submit, t('common.submit'), style: 'color: white; background-color: #5cb85c;'
