.b-jobs
  = render 'shared/page_header', header: @job.title
  %hr
  .row.form-group.well
    .col-sm-3
      %h4
        = t("common.jobs.show.type_of_employment")
      = t("activerecord.attributes.job.employments.#{@job.employment}")

    .col-sm-3
      %h4
        = t("activerecord.attributes.job.company_name")
      - if @job.company_page.present?
        = link_to @job.company_name, @job.company_page, class: 'b-jobs_company'
      - else
        = @job.company_name

    .col-sm-3
      %h4
        = t("common.jobs.show.reward")
      = t("activerecord.attributes.job.currencies.#{@job.currency}")
      = salary(@job)


    .col-sm-3
      %h4
        = t("common.jobs.show.location")
      - if @job.city.present?
        = "#{@job.city}#{@job.remote ? +'/'+ t("activerecord.attributes.job.remote") : ''}"
      - elsif @job.remote.present?
        = t("activerecord.attributes.job.remote")


  %article

    .row
      .col-sm-7.form-group.well.jobs-description
        .b-jobs-name
          %h1.col-sm-10
            = @job.company_name
          %span.col-sm-2
            = @job.created_at.strftime("%d-%m-%Y")
        .clearfix

        %h4.job-post-title
          = t("activerecord.attributes.job.description")
        %p
          = simple_format(@job.description)
        %hr
        %h4.job-post-title
          = t("activerecord.attributes.job.requirements")
        %p
          = simple_format(@job.requirements)
        %hr
        %p
          Tags:   
          - @job.tag_list.each do |t| 
            = link_to t, tag_path(t)  


      .col-sm-4.form-group.well.col-md-offset-1

        %h4.b-jobs-cart_company.text-align-center
          = t("activerecord.attributes.job.company_contact")
        %p.text-align-center
          = @job.company_email
        %p.text-align-center.job-phone
          - if @job.company_phone.present?
            = @job.company_phone

