.b-jobs
  = render 'shared/page_header', header: @job.title
  %hr
  .row.form-group.well
    .col-sm-2
      %h4 Тип занятости
      =t("activerecord.attributes.job.employments.#{@job.employment}")

    .col-sm-3
      %h4 Компания
      - if @job.company_page.present?
        = link_to @job.company_name, @job.company_page, style: 'color: #428bca;'
      - else
        = @job.company_name

    .col-sm-3
      %h4 Вознаграждение
      =t("activerecord.attributes.job.currencies.#{@job.currency}")
      = salary(@job)


    .col-sm-4
      %h4 Местонахождение
      - if @job.city.present?
        = "#{@job.city}#{@job.remote ? ' / Возможно работать удаленно' : ''}"
      - elsif @job.remote.present?
        = ' Возможно работать удаленно'

  / = @job.inspect


  %article

    .row

      .col-sm-7.form-group.well.jobs-description
        .b-jobs-name
          %h1.col-sm-10
            = @job.company_name
          %span.col-sm-2
            = @job.created_at.strftime("%d-%m-%Y")
        .clearfix

        %h4.job-post-title Описание проекта:
        %p
          = simple_format(@job.description)
        %hr
        %h4.job-post-title Требования:
        %p
          = simple_format(@job.requirements)


      .col-sm-4.form-group.well.col-md-offset-1

        %h4.b-jobs-cart_company.text-align-center Компания
        %p.text-align-center
          =@job.company_name
        %p.text-align-center
          =@job.company_email
        %p.text-align-center
          =@job.company_page
        %p.text-align-center.job-phone
          =@job.company_phone
