%table.table.table-hover.table-condensed
  %thead
    %tr
      %th
        = t('admin.shared.email')
      %th
        = t('.created_at')
      %th
        = t('.roles')
      %th{ colspan: '2' }
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.email
        %td
          = user.created_at.strftime('%d-%m-%Y')
        %td
          = user.roles.join(', ')
        %td
          = link_to t('admin.shared.edit'), edit_admin_user_path(user)
        %td
          = link_to t('admin.shared.delete'), admin_user_path(user), method: :delete,
          data: { confirm: t('admin.shared.confirm_delete') }
